header{
    position: relative;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    & .logo-name{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .logo{ 
        width: 40px;
        height: 40px;
    }

}
.header-content{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

nav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a{
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;

    &:hover{
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }
}

nav a.active {
  color: white;
  background-color: var(--primary-color);
  font-weight: bold;
}